<?xml version="1.0" encoding="UTF-8" standalone="no"?><elementoPrincipal><elementoSecundario>Texto de Elemento Secundario 1</elementoSecundario><elementoSecundario>Texto de Elemento Secundario 1</elementoSecundario><elementoSecundario>Texto de Elemento Secundario 1</elementoSecundario><elementoTerciario><elementoSecundario/><elementoTercio/><elementoTercio/></elementoTerciario></elementoPrincipal>